html {
  font-family: sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

button {
  all: unset;
}

.App {
  text-align: center;
  /* margin-top: 10vh; */
}
.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
#todo_remove_button {
  /* margin-left: 1rem; */
  margin-left: 1rem;
  padding: 0.4rem 0.3rem;
  border-color: #eee;
  border-radius: 12px;
  font-size: 0.9rem;
  background-color: thistle;
  cursor: pointer;
  color: #000;
}
#todo_form {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  /* background-color: red; */
}
#todo-item button {
  margin-left: 1rem;
  border-color: #eee;
  border-radius: 12px;
  font-size: 0.8rem;
}
#todo-item button:hover {
  background-color: pink;
  color: #fff;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
